body {
    background: white;
    width: auto;
    font-family: helvetica, arial, sans-serif;
}

#header {
    border-bottom: solid;
    padding-bottom: 8px;
    margin-bottom: 13px;
}

#header_contents {
    width: 1150px;
    margin: 0 auto 0 auto;
}

#c {
    height: 775px;
    width: 1150px;
    margin: 0 auto 0 auto;
}

h1 {
    margin-top: 0px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 14px;
}

h3 {
    margin: 17px 0 3px 0;
}

div.lpanel {
    margin: 0 12px 0 0;
    padding: 0;
    height: 775px;
    width: 500px;
    float: left;
}

div.rpanel {
    margin-left: 5px;
    padding: 0;
    height: 775px;
    float: left;
    width: 633px;
}

/* change this later to make it more pretty */
input.shareurl {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    padding-left: 1px;
    font-size: 16px;
}

img.thumbnail {
    margin: 0 5px 5px 0;
}

/* make it more obvious that thumbnails are clickable.
                                Thanks Andrew Russel */
#thumbs>img {
    cursor: pointer;
}
